<h1>Advanced Pomodoro</h1>

<h2>{{countdownService.title}}</h2>
<h2>{{countdownService.seconds | hms}}</h2>
<button (click)="countdownService.switchPause()">{{countdownService.paused ? 'Start' : 'Pause'}}</button>
<button (click)="switchCountdown(false)">Finish</button>

<label>Work/Rest delimiter</label>
<input [(ngModel)]="delimiter" min="1" type="number"/>

<p>Total Work Time: {{workTimeStats.totalSeconds | hms}}</p>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let worktime of workTimeStats.worktimes; let i = index">
      <td>{{ localeDateTime(worktime.start) }}</td>
      <td>{{ localeDateTime(worktime.end) }}</td>
      <td>{{worktime.seconds | hms}}</td>
      <td>
        <button (click)="workTimeStats.remove(i)">X</button>
        <button (click)="workTimeStats.removeOlder(i)">X and older</button>
      </td>
    </tr>
  </tbody>
</table>
